# Save in /etc/systemd/system/ddns-cf.timer then enable and start the timer

[Unit]
Description=DDNS-CF script
Requires=ddns-cf.service

[Timer]
Unit=ddns-cf.service
OnBootSec=3min
OnUnitActiveSec=12min

[Install]
WantedBy=timers.target
