# https://opensource.com/article/20/7/systemd-timers
# https://wiki.archlinux.org/title/Systemd/Timers
# Save in /etc/systemd/system/ddns-cf.service then enable and start the timer
# Service called by a timer

[Unit]
Description=DDNS-CF script
Wants=ddns-cf.timer

[Service]
Type=oneshot
ExecStart=/home/fedemtz/ddns-cf/bin/ddns-cf -config /home/fedemtz/ddns-cf/config.yaml 

[Install]
WantedBy=multi-user.target
