# Save in /etc/systemd/system/ddns-cf.timer then enable and start the timer

[Unit]
Description=DDNS-CF script
Requires=ddns-cf.service

[Timer]
Unit=ddns-cf.service
# Run 3 minutes after boot
OnBootSec=3min
# Run 5 minutes after the last run finished
OnUnitInactiveSec=5min

[Install]
WantedBy=timers.target
