# Save in /etc/systemd/system/ddns-cf.timer then enable and start the timer

[Unit]
Description=DDNS-CF script
Requires=ddns-cf.service

[Timer]
Unit=ddns-cf.service
# Run 3 minutes after boot to make sure the CPE has booted and received an address afer a power failure
OnBootSec=3min
# Run 2.5 minutes after the last run finished
OnUnitInactiveSec=150

[Install]
WantedBy=timers.target
